#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-settings {
  align-items: center;
  justify-content: space-evenly;
  min-height: 90vh;
  width: 75%;
}

#x-marker {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 10vh;
  min-width: 5vw;
}

.marker {
  max-height: 50%;
  max-width: 50%;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  min-height: 100%;
  width: 25vw;
  font-size: 36px;
  text-align: center;
}

.settings p {
  margin: 0;
  padding: 0;
}

.player-name {
  width: 15vw;
  height: 4vh;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.player-type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4vh;
}

.CPU-difficulty {
  width: 16vw;
  height: 5vh;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

.CPU-difficulty,
.player-name {
  font-size: 1.25vw;
}


#start-button {
  min-width: 15%;
  height: 5vh;
  font-size: 3vh;
}


#content {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#game-wrapper {
  display: flex;
  gap: 100px;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tally {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  width: 15vw;
}

#board {
  min-width: 30vw;
  min-height: 30vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.15vh;
}

.gameobject {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-size: 100%;
}

.xmarker {
  background-image: url('X.png');
}

.hoverx {
  background-image: url('hoverX.png');
}

.omarker {
  background-image: url('O.png');
}

.hovero {
  background-image: url('hoverO.png');
}


#reset {
  margin-top: 48px;
  width: 35vw;
  height: 8vh;
  font-size: 32px;
  background-color: darkgray;
}

.hidden {
  display: none;
}

.display {
  display: flex;
}

.noL {
  border-left: none;
}

.noR {
  border-right: none;
}

.noT {
  border-top: none;
}

.noB {
  border-bottom: none;
}


